<h1>Admin Panel: Employees</h1>

<%= link_to 'Add kudos', kudos_for_all_admins_employees_path %></td>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Available kudos</th>
      <th>Email</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% employees.each do |employee| %>
      <tr>
        <td class="table-primary"><%= employee.number_of_available_kudos %></td>
        <td class="table-primary"><%= link_to employee.email , admins_employee_path(employee) %></td>
        <td class="table-primary"><%= link_to "Edit this Employee", edit_admins_employee_path(employee) %>
        <%= link_to 'Destroy this employee', admins_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
