Employee:
<p> First name: <%= employee.first_name %> </p>
<p> Last name: <%= employee.last_name %> </p>
<p> Email: <%= employee.email %> </p>

<%= link_to 'Edit', edit_admins_employee_path(employee) %> |
<%= link_to 'Back', admins_employees_path %>
