<%= form_with model: kudo do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :giver_id %>
    <%= form.collection_select :giver_id, presenter.employees_for_select, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, presenter.employees_for_select, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :company_value_id %>
    <%= form.collection_select :company_value_id, presenter.company_values_for_select, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
