<%= form_with model: kudo do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, presenter.employees_for_select, :id, :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
