<h1>Kudos</h1>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Giver</th>
      <th>Receiver</th>
      <th>Created at</th>
      <th>Company Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% kudos.each do |kudo| %>
      <tr>
        <td class="table-primary"><%= kudo.title %></td>
        <td class="table-primary"><%= kudo.content %></td>
        <td class="table-primary"><%= kudo.giver.email %></td>
        <td class="table-primary"><%= kudo.receiver.email %></td>
        <td class="table-primary"><%= kudo.created_at %></td>
        <td class="table-primary"><%= kudo.company_value.title %></td>
        <td class="table-primary">
          <% if policy(kudo).update? %>
            <%= link_to "Edit this Kudo", edit_kudo_path(kudo) %>
            <%= link_to 'Destroy this kudo', kudo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Kudo", new_kudo_path %>
