<p>
  <strong>Title:</strong>
  <%= kudo.title %>

  <p> Content: <%= kudo.content %> </p>
  <p> Giver: <%= kudo.giver.email %> </p>
  <p> Receiver: <%= kudo.receiver.email %> </p>
  <p> Created at: <%= kudo.created_at %> </p>
  <p>Company Value: <%= kudo.company_value.title %>
</p>