Kudo:
<p> Title: <%= kudo.title %> </p>
<p> Content: <%= kudo.content %> </p>
<p> Giver: <%= kudo.giver.email %> </p>
<p> Receiver: <%= kudo.receiver.email %> </p>
<p> Created at: <%= kudo.created_at %> </p>
<p> Company Value: <%= kudo.company_value.title %> </p>

<%= link_to 'Edit', edit_admins_kudo_path(kudo) %> |
<%= link_to 'Back', admins_kudos_path %>
