<h1>Bought Rewards</h1>

<table class="table table-success table-striped">
  <thead>
    <div class="btn-group btns">
      <%= link_to "Delivered", orders_path(status: "delivered"), class: 'btn btn-info' %>
      <%= link_to "Not delivered", orders_path(status: "undelivered"), class: 'btn btn-info' %>
      <%= link_to "All", orders_path, class: 'btn btn-info' %>
    </div>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td class="table-primary"><%= order.deserialized_reward['title'] %></td>
        <td class="table-primary"><%= order.deserialized_reward['description'] %></td>
        <td class="table-primary"><%= order.deserialized_reward['price'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>