<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Employee Recognition Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kudos">Kudos</a>
        </li>
        <li class="nav-item">
          <%= link_to "Rewards", rewards_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    <div class="right-part-navbar">
      <ul class="navbar-nav ml-auto">
        <% if employee_signed_in? %>
          <span class="navbar-text"> <%= current_employee.email %> </span>
          <%= link_to "Log out", destroy_employee_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary btn-inverse'%>
        <% else %>
          <%= link_to "Sign in", new_employee_registration_path, class: 'nav-link btn btn-outline-secondary btn-inverse'%> 
          <%= link_to "Log in", employee_session_path, class: 'nav-link btn btn-outline-secondary btn-inverse'%>
        <% end %>
        <%= link_to "Admin Panel", admins_root_path, class: 'nav-link btn btn-outline-secondary btn-inverse'%>      </ul>
      </ul>
    </div>
  </div>
</nav>
