<%= form_with(model: [:admins, reward ]) do |form| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
        <% reward.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, required: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, required: true %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, direct_upload: true, accept: 'image/jpg, image/png, image/jpeg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
