Reward:
<p> Title: <%= reward.title %> </p>
<p> Title: <%= reward.description %> </p>
<p> Title: <%= reward.price %> </p>


<%= link_to 'Edit', edit_admins_reward_path(reward) %> |
<%= link_to 'Back', admins_rewards_path %>
